#your-pizza {
  display:none;
}

#new-order {
  color: #FCF0A7;
  background-color: #968828;
  text-align: center;
  padding: 30px;
}

.button {
  border-radius: 50%;
  padding: 30px;
  background-color: #8F6D1B;
  color: #FCF0A7;
}

body {
  background-color: #331D02;
  color: #D8A84A
}

.jumbotron {
  /* background-image: url("../img/pieMachine.jpg"); */
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  background-color: #A33704;
  text-align: center;
}

#your-pizza {
  font-size: 25px;
  text-align: center;
  border-style: groove;
  border-width: medium;
  border-color: red;
  padding: 30px;
  background-color: #8F6D1B;
}
